@import "tailwindcss";

[data-theme=dark] {
  background: var(--color-dark-primary-background);
  color: var(--color-dark-primary);
}

[data-theme=light] {
  background: var(--color-light-primary-background);
  color: var(--color-light-primary);
}

[data-theme=dark] .secondary {
  background: var(--color-dark-secondary-background);
  color: var(--color-dark-secondary);
}

[data-theme=light] .secondary {
  background: var(--color-light-secondary-background);
  color: var(--color-light-secondary);
}

@theme {
  --color-light-primary: hsl(0, 0%, 0%);
  --color-light-secondary: hsl(0, 0%, 10%);
  --color-light-primary-background: hsl(0, 0%, 100%);
  --color-light-secondary-background: hsl(0, 0%, 75%);
  --color-light-disabled: hsl(0, 0%, 50%);
  --color-dark-primary: hsl(0, 0%, 100%);
  --color-dark-secondary: hsl(0, 0%, 90%);
  --color-dark-primary-background: hsl(0, 0%, 0%);
  --color-dark-secondary-background: hsl(0, 0%, 25%);
  --color-dark-disabled: hsl(0, 0%, 50%);
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}